h1 {
  color: #4183D7;
}

ol {
  font-size: 150%;

}

html#index {
  background-image: url(http://www.fanartreview.com//farusr/213532/1716364028.JPG);
  background-size: cover;

}
html#chicken.farm {
  background: #BDC3C7;
}